# Local system data
*.sublime-workspace
.vagrant
pip-selfcheck.json
/bin
/lib
/include
/local
local_settings.py

# Caches / Components
*.pyc
bower_components

# Built output
/www

# Logs
/emails

# Customization
/override/templates/*
!/override/templates/.gitkeep
