{% extends "base_dialog.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% block title2 %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<p>
    {% blocktrans %}
    Forgot your password?  Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
<hr />
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Reset password' %}" />
</form>
<hr />
<p class="text-center">{% trans "Remembered it?" %} <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>.</p>
<p class="text-center">{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
{% endblock %}


{# This is used by django.contrib.auth #}
