{% extends "base.html" %}
{% load i18n crispy_forms_tags markdown_deux_tags %}

{% block title %}{% trans "Settings" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Account information" %}</h3>
      </div>
      <div class="panel-body">
        {% crispy form %}
        <hr />
        <p>
          {% blocktrans %}
          Note: This only affects what is displayed in the account menu.<br />
          It is completely separate from your contact information!
          {% endblocktrans %}
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Change password" %}</h3>
      </div>
      <div class="panel-body">
        <a class="btn btn-default btn-block">{% trans "Click here to change your password." %}</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Shared profiles" %}</h3>
      </div>
      <div class="panel-body">
        <p>
          {% blocktrans %}
          Multiple accounts can be attached to a single profile, allowing for instance two parents to share access to the same information, but with separate logins.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
          To give a minor their own account once they come of age, have them make an account and contact an administrator to have their information transferred to it.
          {% endblocktrans %}
        </p>
        <hr />
        <a class="btn btn-default btn-block">{% trans "Invite someone else" %}</a>
        <a class="btn btn-danger btn-block disabled">{% trans "Disconnect your account" %}</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Connected users" %}</h3>
      </div>
      <div class="panel-body">
        <p>
          {% blocktrans %}
          This is a list of accounts currently sharing your profile.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
          You cannot disconnect other users from your profile - contact an administrator should this ever be necessary.
          {% endblocktrans %}
        </p>
      </div>
      <ul class="list-group">
        {% for user in request.user.get_shared_users %}
          <a class="list-group-item">{{ user.get_full_name }}</a>
        {% empty %}
          <a class="list-group-item disabled">{% trans "No connected users." %}</a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
