{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{{ group.name }} <small>{{ group.code }}</small></h1>
</div>

{% if group.description %}
{{ group.description|markdown:"trusted" }}
<hr />
{% endif %}

<table class="table">
  <thead>
    <tr>
      {% for column in columns %}
      <th>{{ column.label }}</th>
      {% endfor %}
      <th width="1">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      {% for column in row.columns %}
      <td>{{ column.value }}</td>
      {% endfor %}
      <td><a class="detail-arrow" href="{{ row.member.get_absolute_url }}">&rarr;</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
