{% extends "base.html" %}
{% load i18n crispy_forms_tags markdown_deux_tags %}

{% block title %}{% trans "Settings" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Account information" %}</h3>
      </div>
      <div class="panel-body">
        {% crispy form %}
        <hr />
        <p>
          {% blocktrans %}
          Note: This only affects what is displayed in the account menu.<br />
          It is completely separate from your contact information!
          {% endblocktrans %}
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Change password" %}</h3>
      </div>
      <div class="panel-body">
        <a class="btn btn-default btn-block" href="{% url 'auth_password_change' %}">{% trans "Click here to change your password." %}</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Shared profiles" %}</h3>
      </div>
      <div class="panel-body">
        <p>
          {% blocktrans %}
          Multiple users can share access to the same information, by entering an invite key when they sign up. A key can only be used once!
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
          If an existing account should share your information, please contact an administrator and they will reassign the user to your profile.
          {% endblocktrans %}
        </p>
        <hr />
        <a class="btn btn-default btn-block">{% trans "Create an invite key" %}</a>
      </div>
      {% if request.user.profile.valid_invite_keys %}
      <ul class="list-group">
        {% for key in request.user.profile.valid_invite_keys %}
          {% with expires_in=key.expires_in %}
            <li class="list-group-item">
              <strong>{{ key.key }}</strong>&nbsp;
              <small class="text-muted">{% trans "Expires in" %} {% if expires_in.days %}{{ expires_in.days }} {% trans "days" %}{% else %}{{ expires_in.hours }} {% trans "hours" %}{% endif %}</small>
              <a href="{% url 'invite_delete' pk=key.pk %}" class="delete-button" title="{% trans "Expire now" %}"><i class="glyphicon glyphicon-remove"></i></a>
            </li>
          {% endwith %}
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Users sharing your profile" %}</h3>
      </div>
      <ul class="list-group">
        {% for user in request.user.shared_users %}
          <a class="list-group-item">{{ user.get_full_name }}</a>
        {% empty %}
          <a class="list-group-item disabled">{% trans "You are currently not sharing your profile with anyone." %}</a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
