{% load crispy_forms_tags crispy_forms_utils crispy_forms_field %}
{% load i18n markdown_deux_tags %}

{% specialspaceless %}

{% if formset_tag %}<form {{ flat_attrs|safe }} method="{{ form_method }}" {% if formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% endif %}

{% if formset_method|lower == 'post' and not disable_csrf %}
  {% csrf_token %}
{% endif %}

<div>
    {{ formset.management_form|crispy }}
</div>

<div class="row">
{% for form in formset %}
  <div class="col-md-6">
    <div class="panel panel-default rsvp-panel">
      <div class="panel-heading clearfix" data-toggle="collapse" data-target="#rsvp-collapse-{{ forloop.counter }}">
        <div class="pull-left">
          <h3 class="panel-title">{{ form.instance.event.name }}</h3>
          <p class="panel-subtitle">{{ form.instance.event.get_subtitle }}</p>
        </div>
        <p class="pull-right"><span class="caret"></span></p>
      </div>
      <div class="panel-body collapse in" id="rsvp-collapse-{{ forloop.counter }}">
        {% if form.instance.event.info %}
        <div class="info">
          {{ form.instance.event.info|markdown }}
        </div>
        <hr />
        {% endif %}
        <div class="form">
          {% include "bootstrap3/display_form.html" %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% include "bootstrap3/inputs.html" %}

{% if formset_tag %}</form>{% endif %}

{% endspecialspaceless %}
