{% load i18n flatpages %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">{{ request.site.name }}</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% get_flatpages for request.user as flat_pages %}
        {% for page in flat_pages %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Matriklar <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for group in request.site.config.current_term.groups.all %}
            <li><a href="{{ group.get_absolute_url }}">{{ group.name }} ({{ group.code }})</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.site.config.term_members|capfirst }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for member in request.user.profile.members.all %}
            <li><a href="{{ member.get_absolute_url }}">{{ member.get_full_name }}</a></li>
            {% empty %}
            <li class="disabled"><a>{% trans "None yet!" %}</a></li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="#">{% trans "Add..." %}</a></li>
          </ul>
        </li>
        <li><a href="#">{{ request.site.config.term_contacts|capfirst }}</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'auth_login' %}">Logga in</a></li>
        {% else %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Konto <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="disabled"><a>{{ request.user.get_full_name }}</a></li>
            <li role="separator" class="divider"></li>
            {% if request.user.is_staff %}<li><a href="{% url 'admin:index' %}">Admin</a></li>{% endif %}
            <li><a href="{% url 'account_settings' %}">{% trans "Settings" %}</a></li>
            <li><a href="{% url 'auth_logout' %}">Logga ut</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
