{% load flatpages %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">{{ request.site.name }}</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% get_flatpages for request.user as flat_pages %}
        {% for page in flat_pages %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Matriklar <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Grupp 1</a></li>
            <li><a href="#">Grupp 2</a></li>
            <li><a href="#">Grupp 3</a></li>
          </ul>
        </li>
        <li><a href="#">Korister</a></li>
        <li><a href="#">Anhöriga</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Konto <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="disabled"><a>test@example.com</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Admin</a></li>
            <li><a href="#">Inställningar</a></li>
            <li><a href="#">Logga ut</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
