{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ contact.get_full_name }}{% endblock %}

{% block content %}
<div class="page-header">
  <h1>
    {{ contact.get_full_name }}
    <a href="{% url 'member_edit' contact.pk %}" class="btn btn-default pull-right">{% trans "Edit" %}</a>
  </h1>
</div>
<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>{% trans "Name" %}</dt>
      <dd>{{ contact.get_full_name }}</dd>
      {% for extra in contact.extra_data %}
        {% if extra.public %}
          <dt>{{ extra.label }}</dt>
          <dd>{{ extra.value }}</dd>
        {% endif %}
      {% endfor %}
      <dt>{{ request.site.config.term_members|capfirst }}</dt>
      <dd>{% for member in contact.profile.members.all %}<a href="{{ member.get_absolute_url }}">{{ member.first_name }} {{ member.last_name }}</a> {% endfor %}</dd>
    </dl>
  </div>
</div>
{% endblock %}
