{% extends "base.html" %}
{% load i18n crispy_forms_tags markdown_deux_tags %}

{% block title %}{% if object.pk %}{% trans "Edit" %} {{ member.get_full_name }}{% else %}{% trans "New Member" %}{% endif %}{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% if object.pk %}{% trans "Edit" %} {{ member.get_full_name }}{% else %}{% trans "New Member" %}{% endif %}</h1>
</div>
{% if request.site.config.current_term.form.message %}
  {{ request.site.config.current_term.form.message|markdown:'trusted' }}
  <hr />
{% endif %}
{% crispy form %}
{% endblock %}
