{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Events" %} {% trans "for" %} {{ member.get_full_name }}{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans "Events" %} <small>{% trans "for" %} {{ member.get_full_name }}</small></h1>
</div>
<p>
  {% blocktrans %}
  Choose your answers carefully - they cannot be changed later.<br />
  If something happens and you cannot show up to an event you've agreed to, contact an administrator.
  {% endblocktrans %}
</p>
<hr />
{% if events %}
  {% crispy formset helper %}
{% else %}
  <p class="text-muted">
    {% blocktrans %}
    You have answered every invitation.<br />
    If you want to change one, you will need to contact an administrator.
    {% endblocktrans %}
  </p>
{% endif %}
{% endblock %}
