{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ member.get_full_name }}{% endblock %}

{% block content %}
{% if has_missing_events %}
<div class="alert alert-danger"><strong>{% trans "Missing RSVPs!" %}</strong> {% trans "We don't know if you'll be there for some of your events." %} <a href="{% url 'member_rsvp' member.pk %}">{% trans "Click here to correct this." %}</a></div>
{% endif %}
{% if has_missing_fields %}
<div class="alert alert-warning"><strong>{% trans "New fields added!" %}</strong> {% trans "Please have a look at them, edit and save to confirm that you have." %} <a href="{% url 'member_edit' member.pk %}">{% trans "Click here to edit your info." %}</a></div>
{% endif %}
<div class="page-header">
  <h1>
    {{ member.get_full_name }}
    <small><a href="{{ member.group.get_absolute_url }}">{{ member.group.code }}</a></small>
    <a href="{% url 'member_edit' member.pk %}" class="btn btn-default pull-right">{% trans "Edit" %}</a>
  </h1>
</div>
<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>{% trans "Name" %}</dt>
      <dd>{{ member.get_full_name }}</dd>
      {% for extra in member.extra_data %}
        {% if extra.public %}
          <dt>{{ extra.label }}</dt>
          <dd>{{ extra.value }}</dd>
        {% endif %}
      {% endfor %}
      <dt>{{ request.site.config.term_contacts|capfirst }}</dt>
      <dd>{% for contact in member.profile.contacts.all %}<a href="{{ contact.get_absolute_url }}">{{ contact.first_name }} {{ contact.last_name }}</a> {% endfor %}</dd>
    </dl>
  </div>
</div>

<div class="row">
{% for rsvp in rsvps %}
<div class="panel panel-{{ rsvp.css_class }} rsvp-panel">
  <div class="panel-heading">
    <h3 class="panel-title">{{ rsvp.event.name }}</h3>
    <p class="panel-subtitle">{{ rsvp.event.get_subtitle }}</p>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}
